.encabezado_01{
	color: white;
	font-size: 24pt;
	font-weight: bold;
	font-family: broadway;
	background: #09BABF;
	width: 80%;
	border-radius: 15px;
}

.encabezado_02{
	color: white;
	font-size: 18pt;
	font-weight: bold;
	font-family: broadway;
	background: #09BABF;
	width: 70%;
	border-radius: 15px;
}

.boton_01{
	color: white;
	font-size: 14pt;
	font-weight: bold;
	font-family: broadway;
	background: #09BABF;
	width: 200px;
	height: 70px;
	border-radius: 15px;
}

.boton_01:hover{
	color: #09BABF;
	background: white;
}

.tabla{
	background: #09BABF;
	width: 90%;
}